.full-page-video-wrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.full-page-video {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9D9D9;
}

.full-page-video h1 {
    top: 0;
}