.home-2-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.home-2-page-container {
    width: 1440px;
}

.home-2-page-title-wrapper {
    width: 100%;
    padding: 0 64px 0 64px;
}

.home-2-page-title-wrapper h1 {
    padding: 120px 0 0 0;
    margin: 0;
    font-size: 128px;
    line-height: 128px;
    font-weight: 100;
    color: var(--primary-text-colour);
    font-family: 'TWKEverett-Light', serif;
}

.home-2-page-content-wrapper {
    width: 100%;
    /*height: 50%;*/
    padding: 150px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-2-page-img-wrapper, .home-2-page-text-wrapper {
    display: flex;
    width: 100%;
    /*transition: var(--home-page-secondary-transition);*/
    /*opacity: 0;*/
}

.home-2-page-img-wrapper {
    justify-content: end;
    /*transform: translateX(var(--home-page-secondary-delta-x-left));*/
}

.home-2-page-text-wrapper {
    justify-content: start;
    padding: 0 0 40px 0px;
    /*transform: translateX(var(--home-page-secondary-delta-x-right));*/
}

.home-2-page-img-container {
    height: 50%;
    margin: 0 0px 0 0;
}

.home-2-page-text-container {
    display: flex;
    flex-direction: column;
    /*width: 38%;*/
    margin: 0 0 0 100px;
}

.home-2-page-img-container img {
    /*width: 75%;*/
    /*height: 50%;*/
}

.home-2-page-text-container h2 {
    font-size: 64px;
    line-height: 64px;
    font-weight: 200;
    color: var(--secondary-text-colour);
    padding: 0;
    margin: 0 0 10px 0;
    font-family: 'TWKEverett-Light', serif;
}

.home-2-page-text-container p {
    font-size: 18px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    color: var(--primary-text-colour);
    font-family: 'SuisseIntl-Regular', serif;
}

.show {
    opacity: 1;
    /*transform: translateX(0);*/
}

@keyframes img-enter-from-top {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}