.lifestyle-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin: 91px 0 0 0;
}

.lifestyle-page-container {
    width: 1440px;
}

.lifestyle-page-title-wrapper {
    width: 100%;
    padding: 0 64px 0 64px;
}

.lifestyle-page-title-wrapper h2 {
    font-size: 14px;
    color: var(--primary-text-colour);
    font-family: 'SuisseIntl-Bold', serif;
    padding: 0;
    margin: 0;
}

.lifestyle-page-title-wrapper h1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 88px;
    line-height: 88px;
    font-weight: 300;
    color: var(--secondary-text-colour);
    font-family: 'TWKEverett-Light', serif;
}

.lifestyle-page-content-wrapper {
    border-left: 1px solid var(--primary-text-colour);
    padding: 0 0 0 36px;
    margin: 12px 0 50px 0;
}

.lifestyle-page-content-wrapper p {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 18px;
    line-height: 18px;
    font-weight: 100;
    color: var(--primary-text-colour);
    font-family: 'SuisseIntl-Regular', serif;
}

.lifestyle-page-content-padding {
    height: 72px;
}

.lifestyle-page-img-wrapper {
    width: 100%;
    display: flex;
    overflow: hidden;
    height: auto;
    object-fit: cover;
    /*padding: 0 64px 0 64px;*/
}

.lifestyle-page-img-wrapper img {
    object-fit: cover;
}

.show {
    opacity: 1;
    transform: translateX(0);
}