.landing-container {
    position: relative;
    height:100vh;
}

.landing-background {
    opacity: 1;
    position: absolute;
    background-size: cover;
    background: url("../../assets/Landing-bg.png") no-repeat fixed 50% 100%;
    background-size: cover;
    min-width: 939px;
    height:100vh;
    width: 100%;
}

.landing-wrapper {
    min-width: 939px;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-logo-container {
    width: 53.5315%;
    height: 33%;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 0 8% 0;
    transform: translateY(0%)
}

.landing-logo {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.landing-down-arrow-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}


.landing-down-arrow-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 0;
    align-items: end;
    justify-content: center;
    padding: 0px 10px;
}

.landing-down-arrow {
    width: 4%;
    height: auto;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*margin-bottom: 100px;*/
    /*transform: translate(-50%, -50%);*/
    padding: 0 0 2% 0;
    transition: 0.4s;
    /*animation: logoReveal 4s ease-in-out;*/
}

.landing-1-bg-parallax {
    /*animation: logoReveal 4s ease-in-out;*/
}

@keyframes logoReveal {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

