* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    /*width: 100%;*/
    height: 100%;
    margin: 0;
    padding: 0;
    @media only screen and (max-width: 750px) {
        /*overflow-x: hidden;*/
    }

}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.App, .app-container {
    /*position: relative;*/
}


:root {
    --color-primary-1: #162425;
    --color-primary-2: #DED9D0;
    --color-primary-3: #5178E1;
    --color-primary-4: #84936E;
    --color-primary-5: #164A49;
    --color-primary-7: #1D3540;

    --color-neutral-1: #000;
    --color-neutral-2: #FFF;

    --font-fmaily-primary-light: 'TWKEverett-Light';
    --font-fmaily-primary-regular: 'TWKEverett-Regular';
    --font-family-primary-bold: 'TWKEverett-Bold';

    --font-fmaily-secondary-light: 'SuisseIntl-Light';
    --font-fmaily-secondary-regular: 'SuisseIntl-Regular';
    --font-fmaily-secondary-bold: 'SuisseIntl-Bold';

    --font-size-300px: 20.833vw;

    --font-size-138px: 9.583vw;
    --line-height-138px: 15.802vh;

    --font-size-128px: 8.889vw;
    --line-height-128px: 13.037vh;

    --font-size-70px: 4.861vw;
    --line-height-70px: 9.481vh;

    --font-size-64px: 4.444vw;
    --line-height-64px: 9.481vh;

    --font-size-36px: 2.5vw;
    --line-height-36px: 5.764vh;

    --font-size-20px: 1.389vw;
    --line-height-20px: 2.469vh;

    --font-size-18px: 1.250vw;
    --min-font-size-18px: 1.250vw;
    --line-height-18px: 2.883vh;

    --font-size-16px: 1.111vw;
    --line-height-16px: 2.370vh;

    --font-size-14px: 0.972vw;
    --line-height-14px: 2.242vh;

    --width-8px: 0.556vw;
    --width-16px: 1.111vw;
    --width-32px: 2.222vw;
    --width-48px: 3.333vw;
    --width-160px: 11.111vw;
    --width-640px: 44.444vw;
    --width-1184px: 82.222vw;

    --height-8px: 0.988vh;
    --height-16px: 1.975vh;
    --height-26px: 3.210vh;
    --height-32px: 3.951vh;
    --height-38px: 4.691vh;
    --height-41px: 5.062vh;
    --height-47px: 5.802vh;
    --height-55px: 6.790vh;
    --height-72px: 8.889vh;
    --height-90px: 11.111vh;
    --height-100px: 12.346vh;
    --height-109px: 13.457vh;
    --height-140px: 17.284vh;
    --heght-190px: 23.457vh;
    --height-280px: 34.568vh;
    --height-500px: 61.728vh;
}


.app-container::-webkit-scrollbar {
    /*display: none;*/
}

