body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'SuisseIntl-Bold';
    src: local('SuisseIntl-Bold'), url(../../fonts/SuisseIntl-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'SuisseIntl-Light';
    src: local('SuisseIntl-Light'), url(../../fonts/SuisseIntl-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'SuisseIntl-Regular';
    src: local('SuisseIntl-Regular'), url(../../fonts/SuisseIntl-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'TWKEverett-Light';
    src: local('TWKEverett-Light'), url(../../fonts/TWKEverett-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'TWKEverett-Regular';
    src: local('TWKEverett-Regular'), url(../../fonts/TWKEverett-Regular.ttf) format('truetype');
}
