html, body {
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    /*position: relative;*/
}

body {
    /*height:100vh;*/
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.App, .app-container {
    position: relative;
}


:root {
    --primary-bg-colour: #162425;
    --secondary-bg-colour: #DED9D0;
    --primary-text-colour: #FFF;
    --secondary-text-colour: #84936E;
    --secondary-text-colour-variant: #162425;

    --home-page-secondary-delta-x-left: -500px;
    --home-page-secondary-delta-x-right: 500px;
    --home-page-secondary-transition: all 800ms ease-in-out;
}

.main-parallax::-webkit-scrollbar {

}

.app-container::-webkit-scrollbar {
    /*display: none;*/
}

.link:hover {
    cursor: pointer;
    filter: invert(1);
}

/**********************************************/

.page-container {
    z-index: 1;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    min-height: 100vh;
}

.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    box-sizing: border-box;
    z-index: 2;
}

.sticky-page-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.sticky-page-wrapper {

}


.landing {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-bg-colour);
    box-sizing: border-box;

    .container {
        position: relative;
        height: 100vh;
        width: 100%;
        box-sizing: border-box;
        padding: 0 0 100px 0;

        .background {
            z-index: 0;
            opacity: 1;
            position: absolute;
            background-size: cover;
            background: url("../../assets/LandingBackground.png") no-repeat fixed 50% 100%;
            background-size: contain;
            height: 100vh;
            width: 100vw;
        }

        .content-wrapper {
            z-index: 99;
            opacity: 1;
            min-width: 939px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;

            .title {
                width: 100%;
                display: flex;

                h1 {
                    z-index: 5;
                    opacity: 1;
                    font-size: 7.187vw;
                    /*line-height: 7.187vw;*/
                    font-weight: lighter;
                    margin: 0;
                    padding: 0;
                    font-family: 'TWKEverett-Light', serif;
                    color: var(--primary-text-colour);
                }
            }

            .line-1, .line-3 {
                justify-content: center;
                align-items: center;
            }

            .line-2 {
                padding: 0 0 0 12vw;
            }

        }

        .button-wrapper {
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 0 198px 140px 0;
            z-index: 99;
        }
    }
}

.home {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-bg-colour);
    padding: 64px;
    box-sizing: border-box;

    .content-container {
        background-size: cover;
        background: url("../../assets/HomeBackground.jpeg") 50% 50% no-repeat;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: end;
        align-items: center;


        .content-wrapper {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            justify-content: center;
            padding: 0 0 128px 0;

            h1 {
                color: var(--primary-text-colour);
                font-size: 4vw;
                font-weight: lighter;
                font-family: 'TWKEverett-Light', serif;
                margin: 0;
                padding: 0;
            }

            p {
                color: var(--primary-text-colour);
                font-size: 1vw;
                font-weight: lighter;
                font-family: 'SuisseIntl-Light', serif;
            }
        }
    }
}

.carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-bg-colour);
    padding: 64px;
    box-sizing: border-box;
    justify-content: center;

    .heading-container {
        h1 {
            font-size: 3.5vw;
            /*line-height: 7.187vw;*/
            font-weight: lighter;
            margin: 0;
            padding: 0;
            font-family: 'TWKEverett-Light', serif;
            color: var(--secondary-text-colour-variant);
        }

    }

    .content-container {

        .swiper-container {
            margin: 50px 0 0 0;
            background: var(--secondary-bg-colour);

            .swiper {
                height: 300px;

                .swiper-wrapper {
                    display: flex;
                    align-items: center;
                    background: var(--secondary-bg-colour);

                    .swiper-slide {
                        width: fit-content !important;
                        justify-content: center;
                        align-items: center;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: block;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;

                        -webkit-touch-callout: none; /* iOS Safari */
                        -webkit-user-select: none; /* Safari */
                        -moz-user-select: none; /* Old versions of Firefox */
                        -ms-user-select: none; /* Internet Explorer/Edge */
                        user-select: none;
                        object-fit: contain;
                        margin: 15px;

                        .swiper-slide-active {
                            /*width: fit-content;*/
                        }

                        img {
                            /*display: block;*/
                            height: 100%;
                            object-fit: cover;

                        }
                    }
                }
            }
        }

        .text-container {
            margin: 40px 0 0 0;
            padding: 0 0 20px 30px;
            border-left: 1px solid black;
        }
    }
}

.lifestyle {
    .heading-container {
        .sub-heading {
            h1 {
                color: var(--secondary-text-colour);
                font-size: 0.625vw;
                font-weight: bold;
                font-family: 'SuisseIntl-Bold', serif;
            }
        }

        .title {
            h1 {

                font-size: 3.5vw;
                /*line-height: 7.187vw;*/
                font-weight: lighter;
                margin: 0;
                padding: 0;
                font-family: 'TWKEverett-Light', serif;
                color: var(--secondary-text-colour-variant);

            }
        }
    }
}

.page-container {

}

/**********************************************/
.primary-title-container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 100px 0 0 0;
}

.primary-title-wrapper {
    z-index: 2;
    width: 1440px;
    height: 100%;
    padding: 0 64px 0 64px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.primary-title-wrapper h1 {
    z-index: 2;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 88px;
    line-height: 88px;
    font-weight: 300;
    color: var(--secondary-text-colour);
    font-family: 'TWKEverett-Light', serif;
}

.primary-title-wrapper h2 {
    font-size: 14px;
    color: var(--primary-text-colour);
    font-family: 'SuisseIntl-Bold', serif;
    padding: 0;
    margin: 0;
}

/**********************************************/
.primary-title-variant-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.primary-title-variant-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    justify-content: center;
    align-items: start;


}

.primary-title-variant-wrapper h1 {
    padding: 0 0 0 64px;
    margin: 0 0 0 0;
    font-size: 88px;
    line-height: 88px;
    font-weight: 300;
    color: var(--secondary-text-colour);
    font-family: 'TWKEverett-Light', serif;
}

.primary-title-variant-wrapper h2 {
    font-size: 14px;
    color: var(--primary-text-colour);
    font-family: 'SuisseIntl-Bold', serif;
    padding: 0 0 0 64px;
    margin: 0 0 10px 0;
}

/**********************************************/
.primary-title-variant-content-wrapper {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    border-left: 1px solid var(--primary-text-colour);
    padding: 120px 0 0 0;
}

.primary-title-variant-content-wrapper p {
    width: 100%;
    padding: 0 0 0 36px;
    margin: 0;
    font-size: 16px;
    font-family: 'SuisseIntl-Regular', serif;
    color: #FFF;
}

/**********************************************/
.secondary-title-container {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}

.secondary-title-container.enquire {
    margin: 150px 0 0 0;

    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}

.secondary-title-wrapper {
    padding: 0 64px 0 64px;
    display: flex;
    box-sizing: border-box;

}

.secondary-title-wrapper.enquire {
    padding: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.secondary-title-wrapper h1 {
    padding: 7vh 0 0 0;
    margin: 0;
    font-size: 7.5rem;
    line-height: 7.5rem;
    font-weight: 100;
    color: var(--primary-text-colour);
    font-family: 'TWKEverett-Light', serif;
}

.secondary-title-wrapper.agency h1 {
    padding: 0;
    margin: 0;
    font-size: 88px;
    line-height: 88px;
    font-weight: 300;
}

.secondary-title-wrapper.enquire h1 {
    padding: 0;
    margin: 0;
    font-size: 88px;
    line-height: 88px;
    font-weight: 300;
}

/**********************************************/
.secondary-title-variant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin: 150px 0 0 0;
}

.secondary-title-variant-wrapper {
    width: 1440px;
    padding: 0 64px 0 64px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.secondary-title-variant-wrapper h1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: 88px;
    line-height: 88px;
    font-weight: 300;
    color: var(--primary-text-colour);
    font-family: 'TWKEverett-Light', serif;
}

.secondary-title-variant-wrapper h2 {
    font-size: 14px;
    color: var(--primary-text-colour);
    font-family: 'SuisseIntl-Bold', serif;
    padding: 0;
    margin: 0 0 10px 0;
}

/**********************************************/
.primary-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 64px 0 64px;
}

.primary-content-container.enquire {
    padding: 30px 0 0 0;
    margin: 0;
}

.primary-content-wrapper {
    width: 1440px;
    padding: 0 36px 64px 36px;
    margin: 0 0 35px 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    border-left: 1px solid var(--primary-text-colour);
}

.primary-content-wrapper p {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 18px;
    line-height: 18px;
    font-weight: 100;
    color: var(--primary-text-colour);
    font-family: 'SuisseIntl-Regular', serif;
}

/**********************************************/
.footer-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: end;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    padding: 0 0 50px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

/**********************************************/
.enquire-form-wrapper {
    display: flex;
    width: 576px;
    justify-content: center;
}

/**********************************************/
.no-border {
    border: none;
}

.centre-horiz {
    display: flex;
    align-items: center;
}

/**********************************************/


@media screen and (min-height: 1000px) {
    .page-140 {
        /*height: 100%;*/
    }

    .home-content-wrapper {
        /*padding: 40vh 0 0 0;*/
    }

    .home-img-container img {
        /*width: 100%;*/
        /*object-fit: cover;*/
    }
}

.primary-button {
    position: relative;

    transition: ease-in-out 1s;
    width: 88px;
    height: 88px;
}

.primary-button svg {
    transition: ease-in-out 0.1s;
    z-index: 99;
    width: 100%;
    height: 100%;
}

.primary-button:hover {
    animation: primaryButtonScale 0.3s ease-in-out;
    animation-fill-mode: both;
    cursor: pointer;
}

.primary-text-button {
    width: 228px;
    height: 55px;
    font-size: 18px;
    font-family: 'SuisseIntl-Regular', serif;
    color: var(--secondary-text-colour-variant);

}

.primary-text-button:hover {
    animation: primaryButtonScale 0.3s ease-in-out;
}

@keyframes primaryButtonScale {
    00% {
        scale: 1;
    }
    40% {
        scale: 1.02;
    }
    60% {
        scale: 1;
    }
    100% {
        /*background-color: black;*/
    }
}



