html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.App, .app-container {
    position: relative;
}


:root {
    --primary-bg-colour: #162425;
    --secondary-bg-colour: #DED9D0;
    --primary-text-colour: #FFF;
    --secondary-text-colour: #84936E;
    --secondary-text-colour-variant: #162425;

    --home-page-secondary-delta-x-left: -500px;
    --home-page-secondary-delta-x-right: 500px;
    --home-page-secondary-transition: all 800ms ease-in-out;
}

.main-parallax::-webkit-scrollbar {

}

.app-container::-webkit-scrollbar {
    /*display: none;*/
}

.link:hover {
    cursor: pointer;
    filter: invert(1);
}

/**********************************************/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
}

.page-container {
    display: flex;
    /*width: 1440px;*/
    width: 100vw;
    min-height: 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.carousel {
    background-color: var(--secondary-bg-colour);

    .page-container {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100%;
        box-sizing: border-box;

        .heading-container {
            margin: 0 0 0 64px;

            h1 {
                font-size: 3.5vw;
                /*line-height: 7.187vw;*/
                font-weight: lighter;
                margin: 0;
                padding: 0;
                font-family: 'TWKEverett-Light', serif;
                color: var(--secondary-text-colour-variant);
            }

        }

        .content-container {

            .swiper-container {
                margin: 50px 0 0 0;
                background: var(--secondary-bg-colour);

                .swiper {
                    height: 300px;

                    .swiper-wrapper {
                        display: flex;
                        align-items: center;
                        background: var(--secondary-bg-colour);

                        .swiper-slide {
                            width: fit-content !important;
                            justify-content: center;
                            align-items: center;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: -webkit-flex;
                            display: block;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            -webkit-justify-content: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            -webkit-align-items: center;

                            -webkit-touch-callout: none; /* iOS Safari */
                            -webkit-user-select: none; /* Safari */
                            -moz-user-select: none; /* Old versions of Firefox */
                            -ms-user-select: none; /* Internet Explorer/Edge */
                            user-select: none;
                            object-fit: contain;
                            margin: 15px;

                            .swiper-slide-active {
                                /*width: fit-content;*/
                            }

                            img {
                                /*display: block;*/
                                height: 100%;
                                object-fit: cover;

                            }
                        }
                    }
                }
            }

            .text-container {
                margin: 40px 0 0 64px;
                padding: 0 0 30px 30px;
                border-left: 1px solid black;

                p {
                    margin: 0;
                    padding: 0;
                    font-size: 18px;
                    line-height: 22px;
                    font-family: "SuisseIntl-Regular", serif;
                }
            }
        }
    }
}

.location {
    background-color: var(--secondary-bg-colour);

    .page-container {
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 64px 0 64px 0;

        .heading-container {
            padding: 0 64px 0 64px;

            .sub-heading {
                h1 {
                    color: var(--secondary-text-colour);
                    font-size: 0.625vw;
                    font-weight: bold;
                    font-family: 'SuisseIntl-Bold', serif;
                }
            }

            .title {
                h1 {

                    font-size: 3.5vw;
                    /*line-height: 7.187vw;*/
                    font-weight: lighter;
                    margin: 0;
                    padding: 0;
                    font-family: 'TWKEverett-Light', serif;
                    color: var(--secondary-text-colour-variant);
                }
            }
        }

        .content-container {
            display: flex;
            flex-direction: column;

            .text-wrapper {
                margin: 40px 64px 10px 64px;
                padding: 0 0 30px 30px;
                border-left: 1px solid black;

                p {
                    margin: 0;
                    padding: 0;
                    color: black;
                    font-size: 18px;
                    font-weight: lighter;
                    font-family: 'SuisseIntl-Light', serif;
                }
            }

            .swiper-container {
                display: flex;
                height: 100%;
                padding: 32px;

                .swiper {
                    width: 100vw;
                    height: 100%;

                    .swiper-slide {

                        .img-wrapper {
                            object-fit: cover;

                            svg {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                    .footer-container {
                        .subtitle-wrapper {
                            p {
                                font-size: 32px;
                                filter: brightness(0) saturate(100%) invert(8%) sepia(7%) saturate(3549%) hue-rotate(135deg) brightness(93%) contrast(87%);
                            }
                        }

                        .swiper-nav-container {
                            .btn-wrapper {
                                filter: brightness(0) saturate(100%) invert(8%) sepia(7%) saturate(3549%) hue-rotate(135deg) brightness(93%) contrast(87%);
                            }

                            .txt-wrapper {
                                p {
                                    filter: invert(8%) sepia(7%) saturate(3549%) hue-rotate(135deg) brightness(93%) contrast(87%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.design {
    background-color: var(--primary-bg-colour);

    .page-container {
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        box-sizing: border-box;
        padding: 64px 0 64px 0;

        .heading-container {
            padding: 0 64px 0 64px;

            .sub-heading {
                h1 {
                    color: var(--secondary-text-colour);
                    font-size: 0.625vw;
                    font-weight: bold;
                    font-family: 'SuisseIntl-Bold', serif;
                }
            }

            .title {
                h1 {

                    z-index: 9;
                    font-size: 3.5vw;
                    /*line-height: 7.187vw;*/
                    font-weight: lighter;
                    margin: 0;
                    padding: 0;
                    font-family: 'TWKEverett-Light', serif;
                    color: white;
                }
            }
        }

        .swiper-container {
            display: flex;
            height: 100%;
            padding: 32px;

            .swiper {
                width: 100vw;
                height: 100%;

                .swiper-slide {

                    .img-wrapper {
                        object-fit: cover;

                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .footer-container {
                    .subtitle-wrapper {
                        p {
                            font-size: 32px;
                            color: white;
                        }
                    }

                    .swiper-nav-container {

                        .txt-wrapper {
                            p {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.amenities {
    background-color: var(--primary-bg-colour);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .page-container {
        width: 1440px;
        min-height: 100vh;
        padding: 64px 0 64px 0;
        flex-direction: column;
        justify-content: center;

        .content-container {
            width: 100%;
            display: flex;
            flex-direction: row;

            .column-container {
                display: flex;
                flex-direction: column;
                width: 50%;

                .img-container {
                    width: 576px;
                    height: 861px;
                    transition: all 5s ease-in-out;
                    .img-wrapper {
                        position: absolute;
                        transition: all 5s ease-in-out;
                        img {
                            opacity: 1;
                            transition: all 5s ease-in-out;
                        }
                        .hidden {
                            opacity: 0;
                        }
                        .show {
                            opacity: 1;
                        }
                    }
                    .img-wrapper.hidden {
                        opacity: 0;
                    }
                }

                .heading-container {

                    .sub-heading {
                        h1 {
                            color: var(--secondary-text-colour);
                            font-size: 0.625vw;
                            font-weight: bold;
                            font-family: 'SuisseIntl-Bold', serif;
                        }
                    }

                    .title {
                        h1 {

                            z-index: 9;
                            font-size: 3.5vw;
                            /*line-height: 7.187vw;*/
                            font-weight: lighter;
                            margin: 0;
                            padding: 0;
                            font-family: 'TWKEverett-Light', serif;
                            color: white;
                        }
                    }
                }

                .list-wrapper {

                    .list {
                        list-style: none;
                        margin: 40px 0 0 0;
                        padding: 0 0 0 40px;
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        border-left: white 1px solid;

                        li {
                            display: flex;
                            flex-direction: row;

                            .list-item-container {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                                gap: 1.3rem;

                                svg {
                                    vertical-align: middle;
                                    display: inline-block;
                                }

                                h3 {
                                    font-size: 18px;
                                    font-weight: 300;
                                    opacity: .7;
                                    color: var(--primary-text-colour);
                                    font-family: 'SuisseIntl-Regular', serif;
                                    margin: 0;
                                    padding: 0;
                                    vertical-align: middle;
                                    display: inline-block;
                                }
                            }

                        }

                        li:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.history {
    background-color: var(--primary-bg-colour);

    .page-container {
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        box-sizing: border-box;
        padding: 64px 128px 64px 128px;

        .heading-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 0 32px 0;
            box-sizing: border-box;

            .sub-heading {
                h1 {
                    color: var(--secondary-text-colour);
                    font-size: 0.625vw;
                    font-weight: bold;
                    font-family: 'SuisseIntl-Bold', serif;
                }
            }

            .heading-wrapper {
                width: 100%;
                display: flex;
                flex-direction: row;

                .title-wrapper {
                    width: 100%;

                    .title {
                        h1 {
                            z-index: 9;
                            font-size: 3.5vw;
                            /*line-height: 7.187vw;*/
                            font-weight: lighter;
                            margin: 0;
                            padding: 0;
                            font-family: 'TWKEverett-Light', serif;
                            color: white;
                        }
                    }
                }

                .sub-heading-wrapper {
                    width: 60%;
                    border-left: white 1px solid;
                    display: flex;
                    justify-content: center;
                    align-items: end;

                    p {
                        padding: 0;
                        margin: 0;
                        font-size: 18px;
                        font-family: 'SuisseIntl-Regular', serif;
                        color: var(--primary-text-colour);
                        opacity: 0.7;


                    }
                }
            }
        }

        .content-container {
            display: flex;
            width: 100%;
            height: 100%;

            .video-wrapper {
                position: relative;
                display: flex;
                width: 100%;
                height: 100%;
                object-fit: cover;

                .play-place-holder {
                    position: absolute;
                    display: flex;
                    top: 50%;
                    left: 50%;
                    width: 100px;
                    height: 100px;
                    border: 1px white solid;
                    border-radius: 5%;
                    justify-content: center;
                    align-items: center;
                    transform: translate(-50%, -50%);

                    p {
                        color: white;
                    }
                }

                .play-place-holder:hover {
                    cursor: pointer;
                }

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
}

.agency {
    background-color: var(--primary-bg-colour);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .page-container {
        width: 1440px;
        min-height: 100vh;
        padding: 64px 0 64px 0;
        flex-direction: column;
        justify-content: center;

        .content-container {
            width: 100%;
            display: flex;
            flex-direction: row;

            .column-container {
                display: flex;
                flex-direction: column;
                width: 50%;

                .heading-container {

                    .title {

                        h1 {
                            z-index: 9;
                            font-size: 3.5vw;
                            font-weight: lighter;
                            margin: 0;
                            padding: 0;
                            font-family: 'TWKEverett-Light', serif;
                            color: white;
                        }
                    }
                }

                .content-wrapper {
                    margin: 30px 0 0 0;
                    padding: 0 0 0 30px;
                    border-left: 1px white solid;

                    p {
                        margin: 0;
                        padding: 0;
                        color: white;
                    }

                    .sub-heading {
                        display: flex;
                        flex-direction: row;
                        align-items: end;

                        h1 {
                            margin: 40px 0 0 0;
                            padding: 0 10px 0 0;
                            color: #5178E1;
                            font-family: "SuisseIntl-Bold", serif;
                            font-size: 20px;
                        }
                    }

                    .agent-list {
                        list-style: none;
                        padding: 0;
                        margin: 20px 0 0 0;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        li {
                            display: flex;
                            flex-direction: row;

                            .agent-details {
                                h3 {
                                    color: white;
                                    font-size: 16px;
                                    font-family: "TWKEverett-Regular", serif;
                                    font-weight: lighter;
                                    margin: 0;
                                    padding: 0;
                                }

                                p {
                                    padding: 10px 0 0 0;
                                    color: white;
                                    opacity: 0.7;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.enquiry {
    position: relative;
    background-color: var(--primary-bg-colour);
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .page-container {
        justify-content: center;
        align-items: center;
        height: 100%;

        .content-container {
            display: flex;
            flex-direction: column;
            height: 100%;

            .heading-wrapper {

                .title {
                    display: flex;
                    justify-content: center;

                    h1 {
                        z-index: 9;
                        font-size: 3.5vw;
                        /*line-height: 7.187vw;*/
                        font-weight: lighter;
                        margin: 0;
                        padding: 0;
                        font-family: 'TWKEverett-Light', serif;
                        color: white;
                    }
                }
            }

            .content-wrapper {
                padding: 30px 0 0 0;

                .form-container {
                    width: 576px;

                    .form-wrapper {

                        ::placeholder {
                            color: var(--primary-text-colour);
                            opacity: 0.7;
                        }

                        .enquiry-row {
                            display: flex;
                            margin: 0 0 20px 0;

                            input {
                                width: 100%;
                                height: 51px;
                                font-size: 16px;
                                font-family: 'SuisseIntl-Regular', serif;
                                background-color: transparent;
                                color: var(--primary-text-colour);
                                box-sizing: border-box;
                                border: 1px solid #E6E6E6;
                                padding: 0 0 0 20px;
                            }

                            textarea {
                                width: 100%;
                                background-color: transparent;
                                color: var(--primary-text-colour);
                                box-sizing: border-box;
                                border: 1px solid #E6E6E6;
                                padding: 15px 0 0 20px;
                                font-size: 16px;
                                font-family: 'SuisseIntl-Regular', serif;
                                resize: none;
                            }
                        }

                        .enquiry-row.two {
                            flex-direction: row;
                            justify-content: space-between;
                            gap: 10px;
                        }

                        .btn-wrapper {

                            button {
                                padding: 0;
                                margin: 0;
                                width: 100%;
                                height: 40px;
                                color: var(--primary-bg-colour);
                                font-size: 16px;
                                font-family: 'SuisseIntl-Regular', serif;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-container {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 1440px;
        align-items: end;
        justify-content: center;

        overflow: auto;

        .footer-wrapper {
            display: flex;
            height: 100%;

            .footer-div {
                width: 100%;
                display: flex;

                p {
                    color: var(--primary-text-colour);
                    font-size: 16px;
                    font-family: 'SuisseIntl-Regular', serif;
                    padding: 0 64px 0 64px;
                    margin: 0;
                }
            }

            .footer-div.left {

            }

            .footer-div.centre {
                align-items: center;
                justify-content: center;
            }

            .footer-div.right {
                align-items: end;
                justify-content: end;
            }
        }
    }
}

.full-page-img {
    overflow: hidden;
    background-color: #DED9D0;
    .page-container {
        height: 100vh;
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

/**********************************************/

.swiper-container {
    .swiper {
        .footer-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .subtitle-wrapper {
                font-family: 'TWKEverett-Light', serif;
            }

            .swiper-nav-container {
                display: flex;
                flex-direction: row;

                .txt-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 64px;

                    p {
                        font-size: 18px;
                        font-family: 'SuisseIntl-Regular', serif;
                        padding: 0;
                    }
                }

                .btn-wrapper {
                    z-index: 2;

                    .btn-next {
                        transform: rotate(-90deg);

                    }

                    .btn-prev {
                        transform: rotate(90deg);
                    }
                }

                .btn-wrapper.hidden {
                    opacity: 0;
                }
            }
        }
    }
}


/**********************************************/


/**********************************************/

.footer-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: end;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    padding: 0 0 50px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

/**********************************************/

.enquire-form-wrapper {
    display: flex;
    width: 576px;
    justify-content: center;
}

/**********************************************/

.no-border {
    border: none;
}

.centre-horiz {
    display: flex;
    align-items: center;
}

/**********************************************/


@media screen and (min-height: 1000px) {
    .page-140 {
        /*height: 100%;*/
    }

    .home-content-wrapper {
        /*padding: 40vh 0 0 0;*/
    }

    .home-img-container img {
        /*width: 100%;*/
        /*object-fit: cover;*/
    }
}

.primary-button {
    position: relative;
    transition: ease-in-out 1s;
}

.primary-button svg {
    transition: ease-in-out 0.1s;
    z-index: 99;
    width: 100%;
    height: 100%;
}

.primary-button:hover {
    animation: primaryButtonScale 0.3s ease-in-out;
    animation-fill-mode: both;
    cursor: pointer;
}

.primary-text-button {
    width: 228px;
    height: 55px;
    font-size: 18px;
    font-family: 'SuisseIntl-Regular', serif;
    color: var(--secondary-text-colour-variant);

}

.primary-text-button:hover {
    animation: primaryButtonScale 0.3s ease-in-out;
}

@keyframes primaryButtonScale {
    0% {
        scale: 1;
    }
    40% {
        scale: 1.02;
    }
    60% {
        scale: 1;
    }
    100% {
        /*background-color: black;*/
    }
}


@keyframes landing-image-expand {
    0% {
        width: 0;
        height: 0;
    }

    50% {
        width: 50vh;
        height: 50vh;
    }

    60% {
        width: 50vh;
        height: 50vh;
    }
    100% {
        width: 100vw;
        height: 100vh;
    }
}

@keyframes landing-text-enter {
    0% {
        opacity: 1;
        transform: translateY(500%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}


